<!DOCTYPE html>
<html>
<head>
   <title>AJIO</title>
   <!-- CSS only -->
   <meta name="viewport" content="width=device-width , maximum-scale=1, minimum-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <!-- header top right corner -->
  <header class="container">
    <div class="row">
        <figure class="col-xl-3  logo">
            <img src="images/home/logo.png" class="img-fluid" alt="">
        </figure>
        <nav class="col-xl-9">
            <ul class="nav justify-content-end top-menu">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                      <i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
  <!-- header top right corner end-->
    <!-- header section start -->
    <div class="container">
        <div class="row">
            <div class="col-3 logo" >
               <a href="https://sujitksagar.000webhostapp.com/"><img src="images/home/logo.jpg" class="img-fluid" alt="Not found">
              </a> 
            </div>
        </div>
    </div>

    
<!-- header section end -->

<!-- Navbar start -->
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://www.ajio.com/shop/men">Men</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://www.ajio.com/shop/women">Women</a>
                    
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.ajio.com/shop/kids">Kids</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      More
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://www.ajio.com/men-shirts/c/830216013">Shirts</a></li>
                      <li><a class="dropdown-item" href="https://www.ajio.com/men-trousers-pants/c/830216004">Trousers</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="https://www.ajio.com/c/830316017">Tops</a></li>
                      <li><a class="dropdown-item" href="https://www.ajio.com/men-sweatshirt-hoodies/c/830216011">Winter Wear</a></li>
                      <li><a class="dropdown-item" href="https://www.ajio.com/c/830303011">Kurtas</a></li>
                      <li><a class="dropdown-item" href="https://www.ajio.com/c/830303008">Sarees</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="https://sujitksagar.000webhostapp.com/" class="nav-link enable">home
                      
                    </a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </div>
<!-- Navbar end -->

<!-- Slider start -->

    <div class="container Slider">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
               <a href="https://assets.ajio.com/cms/AJIO/WEB/02122022-D-1UHP-pre-buzz-5090-.gif">
                <img src="images/home/image1.gif" class="d-block w-100" alt="...">
              </a> 
              </div>
              <div class="carousel-item">
                <img src="images/home/image2.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/home/image3.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/home/image4.webp" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    <!-- Slider  end -->
    </div>
   <!-- slider 1 start -->
    <div class="container Slider">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/home/image5.jpg" class="d-block w-100" alt="...">
              </div><br><br>
    <!-- slider 1 end -->

    <!-- product start 2 -->
              <div class="container">
                <div class="row">
                    <div class="col-4">
                        <img src="https://assets.ajio.com/cms/AJIO/WEB/D-Rewards-shop&earn.jpg" class="img-fluid" alt=""> </div>       
                    <div class="col-4">
                        <img src="https://assets.ajio.com/cms/AJIO/WEB/D-Rewards-relianceone.jpg" class="img-fluid" alt=""> </div>
                    <div class="col-4">
                        <img src="https://assets.ajio.com/cms/AJIO/WEB/D-Rewards-inviteyourfriends.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div><br>
            <!--  product start 2 end -->

            <!-- Slider 2 start -->

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="https://www.ajio.com/c/western-wear-4845-81251">
                    <img src="images/home/image7.jpg" class="d-block w-100" alt="...">
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="https://www.ajio.com/c/winterwear-4845-81251">
                  <img src="images/home/image8.jpg" class="d-block w-100" alt="...">
                </a>
                </div>
                <div class="carousel-item">
                  <a href="https://www.ajio.com/c/home-collection-4845-81251">
                  <img src="images/home/image10.jpg" class="d-block w-100" alt="...">
                </a>
                </div>
                <div class="carousel-item">
                  <img src="images/home/image9.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div><br>
    <!-- Slider 2 end -->

    <!--  product start 3 start -->
    <div class="container">
      <div class="row text-center ">
        <div class="col-3 ">
         
          <a href="https://www.ajio.com/s/special-deals-1738-251022"> 
            <img src="images/home/image11.jpg" class="img-fluid aa" alt="">
          </a>
          <p><button class="btn btn-danger b"> Add to Cart</button></p>
        </div>
        <div class="col-3 ">
          
          <a href="https://www.ajio.com/s/shp-up-to-50-percent-off-4862-48952">  
            <img src="images/home/image12.jpg" class="img-fluid aa " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3 ">
          
          <a href="https://www.ajio.com/s/shp-min-30-percent-off-4862-48951"> 
            <img src="images/home/image13.jpg" class="img-fluid aa" alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3 ">
          
          <a href="https://www.ajio.com/s/shp-min-30-percent-off-4862-48952"> 
            <img src="images/home/image14.jpg" class="img-fluid aa " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
      </div>
    </div><br>
            <!--  product start 3 end -->

             <!--  product start 4 start -->
    <div class="container">
      <div class="row text-center">
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/shp-min-25-percent-off-4862-48951"> 
            <img src="images/home/image14.jpg" class="img-fluid aa " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/up-to-60-percent-off-4875-57081"> 
            <img src="images/home/image15.jpg" class="img-fluid aa" alt="">
          </a>
          <p><button class="btn btn-danger b"> Add to Cart</button></p>
        </div>
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/up-to-40-percent-off-4875-57081"> 
            <img src="images/home/image16.jpg" class="img-fluid aa" alt="">
          </a>
          <p><button class="btn btn-danger b"> Add to Cart</button></p>
        </div>
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/up-to-30-percent-off-4875-57081"> 
            <img src="images/home/image17.jpg" class="img-fluid aa" alt="">
          </a>
          <p><button class="btn btn-danger b"> Add to Cart</button></p>
        </div>
      </div>
    </div><br>
    
    <div class="container">
      <div class="row">
        <div class="col text-center">
          
          <a href="https://www.ajio.com/s/gap20-16102022">
            <img src="images/home/image18.jpg" class="img-fluid" alt="">
          </a>
          <p><button class="btn btn-warning">Add To Cart</button></p>
        </div>
      </div>
    </div><br>

    <div class="container">
      <div class="row">
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/shp-starting-at-rs-499-4862-48951"> 
            <img src="images/home/image19.jpg" class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/shp-starting-at-rs-599-4862-48951"> 
            <img src="images/home/image20.jpg"class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/shp-starting-at-rs-999-4862-48951"> 
            <img src="images/home/image21.jpg" class="img-fluid "alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
         
          <a href="https://www.ajio.com/s/shp-starting-at-rs-899-4862-48951"> 
            <img src="images/home/image22.jpg"class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
      </div>
    </div>
    <!--  product start 4 end -->
    <!-- Slider 3 start -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://www.ajio.com/s/starting-at-rs-499-4901-57361">
            <img src="images/home/image25.jpg" class="d-block w-100" alt="...">
          </a>        
        </div>
        <div class="carousel-item">
          <a href="https://www.ajio.com/s/min-40-percent-off-4901-57361">
            <img src="images/home/image26.jpg" class="d-block w-100" alt="...">
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://www.ajio.com/s/min-40-percent-off-4901-57361">
          <img src="images/home/image27.jpg" class="d-block w-100" alt="...">
        </a>
        </div>
        <div class="carousel-item">
          <a href="https://www.ajio.com/s/min-40-percent-off-4901-57561">
          <img src="images/home/image28.jpg" class="d-block w-100" alt="...">
        </a>
        </div>
        <div class="carousel-item">
          <img src="images/home/image29.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- slider 3 end -->
   
    <!--  product start 5 start -->
    

    <div class="container">
      <div class="row text-center">
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/shp-flat-50-percent-off-4862-48951"> 
            <img src="images/home/image30.jpg" class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          <a href="https://www.ajio.com/s/shp-40-to-70-percent-off-4862-48952"> 
            <img src="images/home/image31.jpg"class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          <a href="https://www.ajio.com/b/performax"> 
            <img src="images/home/image32.jpg" class="img-fluid "alt=""></a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          <a href="https://www.ajio.com/s/shp-40-to-60-percent-off-4862-48952"> 
            <img src="images/home/image33.jpg"class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div><br>
    
    <!--  product start 5 end -->


     <!--  product start 6 start -->
     <div class="container">
      <div class="row text-center">
        <div class="col-3">
          
          <a href="https://www.ajio.com/s/shp-30-to-60-percent-off-4862-48951"> 
            <img src="images/home/image34.jpg" class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          <a href="https://www.ajio.com/s/shp-starting-at-rs-599-4862-48953"> 
            <img src="images/home/image35.jpg"class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          <a href="https://www.ajio.com/s/shp-min-40-percent-off-4862-48956"> 
            <img src="images/home/image36.jpg" class="img-fluid "alt=""></a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div>
        <div class="col-3">
          <a href="https://www.ajio.com/s/shp-up-to-70-percent-off-4862-489512"> 
            <img src="images/home/image37.jpg"class="img-fluid " alt="">
          </a>
          <p><button class="btn btn-danger b "> Add to Cart</button></p>
        </div><br>
    
    <!--  product start 6 end -->
   
    
    <!-- Copy rights -->
    <div class="container ">
      &copy; Copyrights Sujit
  </div>
  <!-- Copy rights end -->
            <!-- header section 4 end -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>